@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #db652e;
		--color-primary-hover: #db652e33;
		--color-secondary: #228cdb;
		--color-background: #e7e5e4;
		--color-on-background: #1c1917;
		--color-on-secondary: #f4f4f5;
		--color-surface: #f5f5f4;
		--color-on-surface: #1c1917;
		--color-neutral: #44403c;
	}
	.darkTheme {
		--color-primary: #228cdb;
		--color-secondary: #db652e;
		--color-background: #1c1917;
		--color-on-background: #fff;
		--color-on-secondary: #f4f4f5;
		--color-surface: #0c0a09;
		--color-on-surface: #f4f4f5;
		--color-neutral: #a8a29e;
		--color-primary-hover: hsla(206, 73%, 50%, 0.2);
	}
}
